.master-all{
    background: #acacfe;
    z-index: -51;
}

.back-img{
    opacity: 0.3;
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: -50;
}
.all{
    width: 100%;
    height: 750px;
}
.top{
    width: 100%;
    height: 15%;
}
.top-top{
    width: 100%;
    height: 70%;
}
.top-top-logo{
    width: 40%;
    height: 100%;
    background-image: url('../images/logo_1000x258.png');
    background-repeat: no-repeat;
    background-size: 50%;
}
.top-menu{
    width: 100%;
    height: 30%;
    z-index: -1;
}

.mid{
    height: 75%;
    width: 100%;
}
.botton{
    height: 5%;
    width: 100%;
}

.login-frm{
    margin: 5% auto;
    width: 30%;
    padding: 10px;    
}
#panel-login{
    background-color: #dcdcdc;
}

/* Style do sisadm @author Fernando Oliveira - fer.oliveira88@gmail.com - 04/03/2017*/
.conteudo_all_sisadm{
    float: left;
    width: 100%;
}
.medlle-um-sisadm{
    float: left;
    width: 100%;
}
.medlle-dois-sisadm{
    float: left;
    width: 100%;
}
.menu-cadastros{
    float: left;
    width: 25%;
    height: 40%;
}
.conteudo-25-sisadm{
    float: left;
    width: 25%;
}
/* Fim style sisadm */
